html {
  height: 100%;
}

body {
  margin: 0;
  height: 100%;
  display: flex;
}

#app {
  overflow: hidden;
  height: 100%;
  width: 100%;
  background: linear-gradient(to top, #F4F7FB , #FFFFFF);
  margin: auto;
  display: flex;
  flex-direction: column;
  padding-left: 2.5%;
  padding-right: 2.5%;
}

#nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 9%;
}

.top-nav-item {
  text-align: center;
  vertical-align: middle;
}

#profile {
  position: relative;
  height: 79%;
  width: 100%;
}

.profile-card-wrapper {
  position: absolute;
  display: flex;
  height: 100%;
  width: 100%;
}

.profile-card {
  /* For Draggable */
  position: relative;
  margin: auto;
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  background-size: cover;
  border-radius: 20px;
  color: #ffffff;
  box-shadow: 0 4px 20px #C5C5C5;
}

.profile-caption h4 {
  margin: 0;
  font-size: 1.75em;
}

.profile-caption h5 {
  margin: 0;
  font-size: 1.25em;
  font-weight: lighter;
}

.profile-caption {
  border-radius: 20px;
  background: linear-gradient(to top, rgba(35,35,35,1), rgba(0,0,0,0));
  padding: 5.5%;
}

#bot-nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 12%;
  margin-left: 5%;
  margin-right: 5%;
}

.bot-nav-item {
  background-color: #FFFFFF;
  box-shadow: 0 0px 24px #EEEEEE;
  border: none;
}

.bot-nav-item:nth-child(even){
}

.bot-nav-item:visited {
  background-color: #FFFFFF;
}

.bot-nav-item:active {
  transition: scale 500ms ease-in;
  transform: scale(.8);
  background-color: #FFFFFF;
  border: none;
}
