html {
  height: 100%;
}

body {
  overflow: hidden;
  background: whitesmoke;
  margin: 0;
  height: 100%;
  display: flex;
  font-family: 'Open Sans', sans-serif;
}

 /* TODO webkit user selelct */
#iphone-wrapper {
  user-select: none;
  position: absolute;
  visibility: hidden;
}

#app {
  user-select: none;
  overflow: hidden;
  position: relative;
  height: 100%;
  width: 100%;
  background: linear-gradient(to top, #F4F7FB , #FFFFFF);
  margin: auto;
  display: flex;
  flex-direction: column;
}

#top-nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 9%;
  margin-left: 2.5%;
  margin-right: 2.5%;
  transition: all 250ms;
}

.top-nav-item {
  text-align: center;
  vertical-align: middle;
}

#shadow-profile {
  height: 79%;
}

#profile {
  position: absolute;
  top: 9%;
  height: 79%;
  width: 95%;
  margin-left: 2.5%;
  margin-right: 2.5%;
  transition: all 250ms;
  will-change: margin;
}

.profile-card {
  position: absolute; /* For Draggable */
  overflow: auto; /* For scrollable card when open */
  margin: auto;
  display: flex;
  flex-direction: column;
  height: 100%;
  width: 100%;
  border-radius: 20px;
  box-shadow: 0 4px 20px #C5C5C5;
  will-change: boxshadow, border-radius;
}

.profile-pic {
  height: 100%;
  width: 100%;
  display: flex;
  flex-shrink: 0;
  flex-direction: column;
  justify-content: flex-end;
  background-size: cover;
  background-position: center;
  color: #ffffff;
  transition: height 200ms, width 250ms;
  will-change: height, width, border-radius;
}

.profile-caption h1 {
  margin: 0;
  font-size: 1.75em;
}

.profile-caption h2 {
  margin: 0;
  font-size: 1.25em;
  font-weight: lighter;
}

.profile-caption {
  background: linear-gradient(to top, rgba(35,35,35,.65), rgba(0,0,0,0));
  padding: 5.5%;
}

.profile-content {
  flex: 1;
  background: white;
  transition: all 50ms;
  padding: 5% 0 5% 0;
}

.profile-content-item {
  flex: 1;
  background: white;
  transition: all 50ms;
  padding: 0 5% 0 5%;
}

.profile-content h1 {
  font-size: 1.5em;
  color: #424242;
  margin: 0;
}

.profile-content h2 {
  font-size: 0.85em;
  font-weight: normal;
  margin: 0;
}

.profile-content p {
  font-size: 0.85em;
  font-weight: normal;
  color: #7C7C7C;
  margin: 0;
}

.profile-basic-info-item {
  color: #7C7C7C;
  display: flex;
}

.profile-icon {
  width: 1.5em;
}

.profile-bullets {
  color: #7C7C7C;
  -webkit-padding-start: 1.25em;
}

#next-card {
  visibility: hidden;
}

#bot-nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 12%;
  margin-left: 5%;
  margin-right: 5%;
}

.bot-nav-item {
  background-color: #FFFFFF;
  box-shadow: 0 0px 24px #EEEEEE;
  border: none;
}

.bot-nav-item:nth-child(even){
}

.bot-nav-item:visited {
  background-color: #FFFFFF;
}

.bot-nav-item:active {
  transition: scale 500ms ease-in;
  transform: scale(.8);
  background-color: #FFFFFF;
  border: none;
}

/* Typography Helpers */
.font-normal {
  font-weight: normal;
}

.font-lighter {
  font-weight: lighter;
}

.divider-full {
  margin: 1em 0 1em 0;
  border-top: 1px solid #EEEEEE;
}
